{{#each this}}
<li class="list__item">
  <div class="list__thumb">
    <img src="{{img}}" alt="Прапор " width="320">
  </div>
  <h2>{{hero}}</h2>
  <p><b>Зброя: {{weapon}}</b></p>
  <p><b>Навички: {{skills}}</b></p>
</li>
{{/each}}